@import url('font.css');

$quotery-color: rgba(0, 0, 0, 1);

html, body {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

.app {
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

img {
    pointer-events: none;
}

nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.74);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 20px;
    transition: all 500ms;

    a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        padding-top: 0px;
        transition: color 200ms;
    }

    a:hover {
        color: rgb(182, 182, 182);
    }

    img {
        filter: invert(1);
        height: 70%;
        transform: translateY(-5%);
    }

    select {
        font-size: 16px;
        position: absolute;
        right: 30px;
        background-color: transparent;
        border: none;
        color: white;
    }

    .arrow-down {
        display: none;
        color: white;
        font-size: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-70%) rotate(180deg);
    }

    @media (max-width: 1000px) {
        justify-content: center;

        img {
            position: absolute;
            left: 10px;
        }

        a {
            transform: translateX(-25%);
        }

        .arrow-down {
            display: none !important;
        }
    }

    @media (max-width: 600px) {
        a {
            font-size: 15px;
        }

        select {
            font-size: 15px;
            right: 20px;
        }
    }
}

nav.white {
    background-color: rgba(255, 255, 255, 0.445) !important;
    
    a {
        color: rgb(0, 0, 0) !important;
    }

    a:hover {
        color: rgb(58, 58, 58) !important;
    }

    img {
        filter: invert(0) !important;
    }

    select {
        color: black !important;
    }
}

header {
    background-image: url('../media/img1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hello-world {
        color: white;
        margin: 50px;
        font-size: 90px;
    }

    .info-card {
        color: rgb(168, 168, 168);
        text-align: center;
        top: 70px;
        right: 10px;
        position: absolute;
        font-size: 20px;
        width: 270px;
    }

    img, .header-image {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    @media (max-width: 1000px) {
        align-items: center;

        .hello-world {
            font-size: 60px;
            text-align: center;
        }

        .info-card {
            right: unset;
        }
    }

    @media (max-height: 450px) {
        .info-card {
            display: none;
        }
    }
}

main {
    z-index: 1;
    margin-top: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    a:hover {
        color: rgb(182, 182, 182);
        transition: color 200ms;
    }

    .arrow-down {
        color: white;
        font-size: 2rem;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        transition: transform 500ms ease;
    }

    .arrow-down.rotate {
        transform: translateX(-50%) rotate(180deg)
    }
}

.quoter {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $quotery-color;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: white;

    .quoter-header {
        z-index: 1;
        font-size: 40px;
    }

    .quote {
        padding: 40px;
        position: relative;
        border: 1px solid transparent;
        border-radius: 15px;
        background-color: rgba(29, 28, 28, 0.5);
        backdrop-filter: blur(5px);
        font-size: 36px;
        width: 45%;
        transition: opacity 0.8s ease-out, transform 0.8s ease-out, background-color 0.3s ease-out, transform 0.3s ease-out;

        .text-block {
            .symbol {
                font-size: 50px;
                color: rgb(150, 150, 150);
            }

            gap: 10px;
            display: flex;
        }

        .author {
            color: rgb(138, 138, 138);
            font-size: 30px;
            position: absolute;
            right: 40px;
            bottom: 10px;
        }

        &.active {
            background-color: rgba(50, 50, 50, 0.5);
            transform: scale(1.05);
        }
    }

    @media (max-width: 1000px) {
        .quote {
            width: 80%;
        }
    }

    @media (max-width: 600px), (max-height: 600px) {
        .quote {
            width: 70%;
            font-size: 24px;

            .text-block {
                .symbol {
                    font-size: 30px;
                }
            }

            .author {
                font-size: 20px;
                right: 20px;
            }
        }
    }
}


.self-section {
    padding-bottom: 100px;
    background-image: url('../media/img2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-block {
        padding-top: 150px;
        padding-bottom: 150px;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;

        .about {
            padding: 20px;
            background-color: rgba(84, 84, 84, 0.506);
            backdrop-filter: blur(5px);
            border-radius: 15px;
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            transform: translateX(40%) translateY(20px);
    
            .header {
                width: fit-content;
                font-size: 32px;
                padding: 5px;
                border-bottom: rgb(0, 199, 0) 2px solid;
            }
    
            .text {
                font-size: 24px;
            }

            .languages {
                display: flex;
                flex-direction: column;
                gap: 30px;
                margin-top: 10px;

                .lang-name {
                    font-size: 22px;
                }

                .language {
                    font-size: 20px;
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    
                    .level {
                        overflow: hidden;
                        position: absolute;
                        top: 0;

                        .name {
                            font-size: 20px;
                            opacity: 0;
                            transform: unset;
                            transition: all 1000ms;

                            &.p1.visible { transform: translateX(15%); opacity: 1; }
                            &.p2.visible { transform: translateX(31%); opacity: 1; }
                            &.p3.visible { transform: translateX(47%); opacity: 1; }
                            &.p4.visible { transform: translateX(63%); opacity: 1; }
                            &.p5.visible { transform: translateX(82%); opacity: 1; }
                            &.p6.visible { transform: translateX(97%); opacity: 1; }
                        }

                        width: 100%;
                    }

                    .progress {
                        transform: unset;
                        border: 5px solid;
                        border-radius: 15px;
                        width: 0px;
                        transition: width 1000ms;

                        &.p1.visible { width: 16%; }
                        &.p2.visible { width: 32%; }
                        &.p3.visible { width: 48%; }
                        &.p4.visible { width: 64%; }
                        &.p5.visible { width: 83%; }
                        &.p6.visible { width: 98%; }

                        &.red {
                            border-color: rgb(223, 84, 84);
                        }

                        &.yellow {
                            border-color: rgb(244, 255, 148)
                        }

                        &.gunjyou {
                            border-color: rgb(64, 107, 255);
                        }
                    }
                }
            }
        }
    
        .about.visible {
            transform: translateY(0) translateX(40%);
        }

        @media (max-height: 800px) {
            .about {
                transform: translateY(20px) translateX(0) !important;
                width: 70%;
            }
    
            .about.visible {
                transform: translateY(0) translateX(0) !important;
            }
        }

        @media (max-width: 1300px) {
            .about {
                transform: translateY(20px) translateX(0) !important;
                width: 90%;
            }
    
            .about.visible {
                transform: translateY(0) translateX(0) !important;
            }
        }

        @media (max-width: 930px), (max-height: 650px) {
            padding-top: 50px;
            padding-bottom: 50px;
            height: unset !important;
    
            .about.visible {
                transform: translateY(0) translateX(0) !important;
            }
    
            .about {
                border-radius: 0;
                width: 100%;
                transform: translateY(20px) translateX(0) !important;
    
                .header {
                    font-size: 32px;
                }
    
                .text {
                    font-size: 20px;
                }

                .level {
                    position: inherit !important;
                }
            }
        }
    }

    .skills {
        margin-bottom: 50px;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.397);
        backdrop-filter: blur(5px);
        padding: 10px;
        margin: 20px;
        border-radius: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: hidden;

        .button-block {
            width: 90%;
            display: flex;
            justify-content: center;
            gap: 20px;

            button {
                border: none;
                background-color: transparent;
                color: white;
                font-size: 28px;
                transition: all 200ms;

                &.selected {
                    border-bottom: 2px solid white !important;
                }

                &:hover {
                    filter: invert(0.2);
                }
            }
        }

        .title {
            font-size: 32px;
            border-bottom: 4px solid white
        }

        .slide-wrapper {
            display: flex;
            gap: 100px;
            transition: all 500ms;
        }

        .slide-block {
            opacity: 0;
            display: none;
            flex-direction: column;
            gap: 40px;
            min-width: 100%;
            animation: fadeIn ease 1s forwards;
        }

        .card-block {
            display: grid;
            margin: 0 auto;
            gap: 100px;
            transition: all 200ms;

            &.grid-3 {
                grid-template-columns: repeat(3, 1fr);
            }

            &.grid-2 {
                grid-template-columns: repeat(2, 1fr);
            }

            &.grid-1 {
                grid-template-columns: repeat(1, 1fr);
            }

            .card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                padding: 15px;
                width: 280px;
                background-color: rgba(255, 255, 255, 0.089);
                border-radius: 15px;
                transition: transform 100ms ease, background-color 100ms ease;

                .name {
                    border-bottom: 2px solid white;
                    font-size: 22px;
                }

                .description {
                    text-align: center;
                    font-size: 18px;
                }

                .experience {
                    display: flex;
                    flex-direction: column;
                    border-top: 1px solid rgb(175, 175, 175);
                    width: 90%;
                    padding-top: 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    .text {
                        text-align: center;
                    }

                    .projects {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;

                        .project {
                            padding: 5px;
                            border-radius: 10px;
                            filter: invert(1);
                            transition: all 200ms;
                            display: flex;
                            gap: 10px;
                            text-align: right;
                            width: fit-content;
                            border: 1px solid black;
                            color: black;
                            text-decoration: none;

                            .text {
                                transform: translateY(20%);
                                text-align: center;
                            }

                            img {
                                width: 25px;
                            }

                            &:hover {
                                filter: invert(0.8);
                            }
                        }
                    }
                }
    
                .icon img {
                    width: 130px;
                    height: 130px;
                    border: 5px solid white;
                    border-radius: 50%;

                    &.white {
                        background-color: white;
                    }

                    &.pad {
                        padding: 10px;
                        width: 100px  !important;
                        height: 100px !important;
                    }
                }
                
    
                &:hover {
                    transform: scale(1.06);
                    background-color: rgba(255, 255, 255, 0.15);
                }
            }
        }
    }

    @media (max-width: 1150px) {
        .skills {
            width: 100%;
            border-radius: 0px;
            padding: 0;
            padding-top: 30px;
            padding-bottom: 30px;

            .card-block {
                display: flex;
                flex-direction: column;
            }
        }
    }

    @media (max-width: 1660px) {
        .skills {
            width: 100%;
        }
    }
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;

    .categories-block {
        width: 50%;
        display: flex;
        justify-content: space-between;

        .categories-column {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        .category {
            display: flex;
            gap: 10px;
            flex-direction: column;
            color: rgb(179, 179, 179);

            .name {
                width: fit-content;
                font-size: 24px;
                margin-bottom: 10px;
                border-bottom: 2px solid rgb(179, 179, 179);
            }

            .item {
                display: flex;
                border-radius: 10px;
                text-decoration: none;
                color: white;
                transition: color 200ms;

                img {
                    margin-right: 10px;
                    transform: translateY(-10%);
                    height: 20px;
                    width: 20px;
                    filter: invert(1);
                    transition: filter 200ms;
                }

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            .item:hover {
                color: grey;

                img {
                    filter: invert(0.6);
                }
            }
        }
    }

    hr {
        width: 100%;
        border: none;
        background-color: rgb(55,55,55);
        height: 1px;
    }

    .copyright {
        text-align: center;
        color: rgb(66, 66, 66);
        font-size: 14px;
    }

    @media (max-width: 1450px) {
        .categories-block {
            width: 95%;
        }
    }

    @media (max-width: 800px) {
        .categories-block {
            width: 85%;
            flex-direction: column;
            gap: 50px;
            align-items: center;
        }

        .categories-column {
            transform: translateX(-45%);
        }

        .category {
            width: 100%;
        }
    }
}

.slide {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}