@import url('font.css');

$quotery-color: rgba(0, 0, 0, 1);

html, body {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

.app {
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

img {
    pointer-events: none;
}

nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.74);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 20px;
    transition: all 500ms;

    a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        padding-top: 0px;
        transition: color 200ms;
    }

    a:hover {
        color: rgb(182, 182, 182);
    }

    img {
        filter: invert(1);
        height: 70%;
        transform: translateY(-5%);
    }

    select {
        font-size: 16px;
        position: absolute;
        right: 30px;
        background-color: transparent;
        border: none;
        color: white;
    }

    .arrow-down {
        display: none;
        color: white;
        font-size: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-70%) rotate(180deg);
    }

    @media (max-width: 1000px) {
        justify-content: center;

        img {
            position: absolute;
            left: 10px;
        }

        a {
            transform: translateX(-25%);
        }

        .arrow-down {
            display: none !important;
        }
    }

    @media (max-width: 600px) {
        a {
            font-size: 14px;
        }

        select {
            font-size: 14px;
            right: 20px;
        }
    }
}

nav.white {
    background-color: rgba(255, 255, 255, 0.445) !important;
    
    a {
        color: rgb(0, 0, 0) !important;
    }

    a:hover {
        color: rgb(58, 58, 58) !important;
    }

    img {
        filter: invert(0) !important;
    }

    select {
        color: black !important;
    }
}

header {
    background-image: url('../static/img1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hello-world {
        color: white;
        margin: 50px;
        font-size: 64px;
    }

    .info-card {
        color: rgb(168, 168, 168);
        text-align: center;
        top: 70px;
        right: 10px;
        position: absolute;
        font-size: 20px;
        width: 270px;
    }

    img, .header-image {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    @media (max-width: 1000px) {
        align-items: center;

        .hello-world {
            font-size: 60px;
            text-align: center;
        }

        .info-card {
            right: unset;
        }
    }

    @media (max-height: 450px) {
        .info-card {
            display: none;
        }
    }
}

main {
    z-index: 1;
    margin-top: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    a:hover {
        color: rgb(182, 182, 182);
        transition: color 200ms;
    }

    .arrow-down {
        color: white;
        font-size: 2rem;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        transition: transform 500ms ease;
    }

    .arrow-down.rotate {
        transform: translateX(-50%) rotate(180deg)
    }
}

.quoter {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $quotery-color;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: white;

    .quoter-header {
        z-index: 1;
        font-size: 40px;
    }

    .quote {
        padding: 40px;
        position: relative;
        border: 1px solid transparent;
        border-radius: 15px;
        background-color: rgba(29, 28, 28, 0.5);
        backdrop-filter: blur(5px);
        font-size: 28px;
        width: 40%;
		display: flex;
		flex-direction: column;
        transition: opacity 0.8s ease-out, transform 0.8s ease-out, background-color 0.3s ease-out, transform 0.3s ease-out;

        .text-block {
            .symbol {
                font-size: 36px;
                color: rgb(150, 150, 150);
            }

            gap: 10px;
            display: flex;
        }

        .author {
            color: rgb(138, 138, 138);
            font-size: 24px;
            position: absolute;
            right: 40px;
            bottom: 10px;
        }

        &.active {
            background-color: rgba(50, 50, 50, 0.5);
            transform: scale(1.02);
        }
    }

    @media (max-width: 1000px) {
        .quote {
            width: 80%;
        }
    }

    @media (max-width: 600px), (max-height: 600px) {
        .quote {
            width: 70%;
            font-size: 24px;

            .text-block {
                .symbol {
                    font-size: 30px;
                }
            }

            .author {
                font-size: 20px;
                right: 20px;
            }
        }
    }
}

.self-section {
    padding-bottom: 100px;
    background-image: url('../static/img2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-block {
        padding-top: 100px;
        padding-bottom: 100px;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;

        .about {
            padding: 20px;
			background-color: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(10px);
			border-radius: 15px; 
			border: 1px solid rgba(255, 255, 255, 0.2);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 30px;
			position: relative;
            transform: translateY(20px);
    
            .header {
                width: fit-content;
                font-size: 28px;
                padding: 5px;
                border-bottom: rgb(0, 199, 0) 2px solid;
            }
    
            .text {
                font-size: 20px;
            }

            .languages {
                display: flex;
                flex-direction: column;
                gap: 30px;
                margin-top: 10px;

                .lang-name {
                    font-size: 20px;
                }

                .language {
                    font-size: 20px;
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    
                    .level {
                        overflow: hidden;
                        position: absolute;
                        top: 0;

                        .name {
                            font-size: 20px;
                            opacity: 0;
                            transform: unset;
                            transition: all 1000ms;

                            &.p1.visible { transform: translateX(15%); opacity: 1; }
                            &.p2.visible { transform: translateX(31%); opacity: 1; }
                            &.p3.visible { transform: translateX(47%); opacity: 1; }
                            &.p4.visible { transform: translateX(63%); opacity: 1; }
                            &.p5.visible { transform: translateX(82%); opacity: 1; }
                            &.p6.visible { transform: translateX(97%); opacity: 1; }

							&.p5-1.visible { transform: translateX(15%); opacity: 1; }
							&.p5-2.visible { transform: translateX(36%); opacity: 1; }
							&.p5-3.visible { transform: translateX(56%); opacity: 1; }
							&.p5-4.visible { transform: translateX(77%); opacity: 1; }
							&.p5-5.visible { transform: translateX(95%); opacity: 1; }

                        }

                        width: 100%;
                    }

                    .progress {
                        transform: unset;
                        border: 5px solid;
                        border-radius: 15px;
                        width: 0px;
                        transition: width 1000ms;

                        &.p1.visible { width: 16%; }
                        &.p2.visible { width: 32%; }
                        &.p3.visible { width: 48%; }
                        &.p4.visible { width: 64%; }
                        &.p5.visible { width: 83%; }
                        &.p6.visible { width: 98%; }

						&.p5-1.visible { width: 15%; }
                        &.p5-2.visible { width: 36%; }
                        &.p5-3.visible { width: 56%; }
                        &.p5-4.visible { width: 77%; }
                        &.p5-5.visible { width: 97%; }

                        &.red {
                            border-color: rgb(223, 84, 84);
                        }

                        &.yellow {
                            border-color: rgb(244, 255, 148)
                        }

                        &.gunjyou {
                            border-color: rgb(64, 107, 255);
                        }
                    }
                }
            }
        }
    
        .about.visible {
            transform: translateY(0);
        }

        @media (max-height: 800px) {
            .about {
                transform: translateY(20px) !important;
                width: 70%;
            }
        }

		@media (max-width: 920px) {
			.block-wrapper {
				flex-direction: column !important;
				justify-content: center;
				align-items: center;

				.block-topic {
					margin-top: 20px;
					min-width: 100% !important;
				}
			}
		}

		@media (max-width: 500px) {
			.top-information {
				text-align: center !important;
			}
		}

        @media (max-width: 1200px) {
            .about {
                transform: translateY(20px) !important;
                width: 100%;
            }

			.block-topic {
				width: 30% !important;
			}
        }

		@media (max-width: 1400px) {
            .about {
                transform: translateY(20px) !important;
                width: 90%;
            }
        }

        @media (max-width: 930px), (max-height: 650px) {
            padding-top: 50px;
            padding-bottom: 50px;
            height: unset !important;
    
            .about {
                border-radius: 0;
                width: 100%;
                transform: translateY(20px) !important;
    
                .header {
                    font-size: 32px;
                }
    
                .text {
                    font-size: 20px;
                }

                .level {
                    position: inherit !important;
                }
            }
        }
    }

	.blocks {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 20px;
		align-items: center;

		.block {
			.name {
				font-size: 28px;
			}
			
			&.gap {
				gap: 15px;
			}

			display: flex;
			flex-direction: column;
			width: 95%;
			position: relative;
			display: flex;
			padding: 20px;
			background-color: rgba(0, 0, 0, 0.2);
			border: 1px solid rgba(255, 255, 255, 0.3);
			border-radius: 15px;

			&.centered {
				justify-content: center;
				align-items: center;
			}

			.top-information {
				width: 100%;
				color: rgb(210, 210, 210);
				right: 10px;
				text-align: right;
			}

			.block-wrapper {
				display: flex;

				.block-topic {
					transform: translateY(-12px);
					display: flex;
					width: 25%;
					margin-right: 10px;
					gap: 20px;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					img.tech-img {
						width: 130px;
						height: 130px;
						border: 2px solid white;
						border-radius: 50%;
					}

					.name {
						font-size: 18px;
						color: white;
						text-align: center;
						padding: 10px 10px;
						border: 1px solid rgba(255, 255, 255, 0.4);
						border-radius: 10px;
						text-decoration: none;
						transition: 200ms border-color, 200ms background-color;

						&:hover, &:focus {
							border: 1px solid rgba(255, 255, 255, 0.6);
							background-color: rgba(255, 255, 255, 0.2);
						}

						&:active {
							border: 1px solid rgba(255, 255, 255, 0.8);
							background-color: rgba(255, 255, 255, 0.4);
						}
					}

					.subname {
						text-align: center;
						font-size: 18px;
					}
				}

				.text {
					width: 100%;
					font-size: 20px;
				}
			}
		}
	}
}

.cubic-wrapper {
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;

	&.more-items {
		grid-template-columns: repeat(4, 1fr);
	}

	&.extended-gap {
		gap: 90px !important;
	}

	.labeled-cubic-container {
		text-align: center;
		display: flex;
		padding: 15px 25px 15px 25px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: fit-content;
		gap: 10px;
		width: 120px;

		.label {
			font-size: 20px;
			font-weight: 600;
		}
	}

	@media (min-width: 450px) and (max-width: 1000px) {
		&.change {
			display: flex !important;
			flex-direction: column;
		}

		&.extended-gap {
			gap: 40px !important;
		}

		.labeled-cubic-container {
			padding: 20px;
			background-color: rgba(0, 0, 0, 0.2);
			border: 1px solid rgba(255, 255, 255, 0.3);
			border-radius: 15px;
			flex-direction: row;
			gap: 35px;
			width: 280px !important;
			text-align: left;
		}
	}

	@media (max-width: 450px) {
		&.change {
			display: flex !important;
			flex-direction: column;
		}

		&.extended-gap {
			gap: 40px !important;
		}
	}
}

.cubic-item {
	background-color: rgb(250, 250, 250);
	width: 40px;
	height: 40px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px;

	&.no-bg {
		background-color: unset;
	}

	&.bigger {
		width: 110px;
		height: 110px;

		img {
			width: 55px * 2.35;
			height: 55px * 2.35;

			&.small {
				width: 35px * 2;
				height: 35px * 2;
			}

			&.medium {
				width: 50px * 2;
				height: 50px * 2;
			}

			&.cubic {
				width: 50px * 2;
				height: 30px * 2;
				transform: translateY(5px);
			}
		}
	}

	&.round {
		border-radius: 50%;
		border: 3px solid white;
	}

	img {
		width: 55px;
		height: 55px;

		&.small {
			width: 35px;
			height: 35px;
		}

		&.medium {
			width: 50px;
		}
	}
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;

    .categories-block {
        width: 50%;
        display: flex;
        justify-content: space-between;

        .categories-column {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        .category {
            display: flex;
            gap: 10px;
            flex-direction: column;
            color: rgb(179, 179, 179);

            .name {
                width: fit-content;
                font-size: 24px;
                margin-bottom: 10px;
                border-bottom: 2px solid rgb(179, 179, 179);
            }

            .item {
                display: flex;
                border-radius: 10px;
                text-decoration: none;
                color: white;
                transition: color 200ms;

                img {
                    margin-right: 10px;
                    transform: translateY(8%);
                    height: 20px;
                    width: 20px;
                    filter: invert(1);
                    transition: filter 200ms;
                }

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            .item:hover {
                color: grey;

                img {
                    filter: invert(0.6);
                }
            }
        }
    }

    hr {
        width: 100%;
        border: none;
        background-color: rgb(55,55,55);
        height: 1px;
    }

    .copyright {
        text-align: center;
        color: rgb(66, 66, 66);
        font-size: 14px;
    }

    @media (max-width: 1450px) {
        .categories-block {
            width: 95%;
        }
    }

    @media (max-width: 800px) {
        .categories-block {
            width: 85%;
            flex-direction: column;
            gap: 50px;
            align-items: center;
        }

		.categories-column {
			width: 100%;
		}

        .category {
            width: 100%;
        }
    }
}

.slide {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}