<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="ElCapitan" />
        <meta name="description" content="Informational website about myself, my skills, and my work." />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://elcapitan.atproject.com.ua/" />
        <meta property="og:title" content="ElCapitan" />
        <meta property="og:description" content="Informational website about myself, my skills, and my work." />
        <meta property="og:image" content="https://elcapitan.atproject.com.ua/static/image-preview.png" />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://elcapitan.atproject.com.ua/" />
        <meta property="twitter:title" content="ElCapitan" />
        <meta property="twitter:description" content="Informational website about myself, my skills, and my work." />
        <meta property="twitter:image" content="https://elcapitan.atproject.com.ua/static/image-preview.png" />

        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script src="https://unpkg.com/vue/dist/vue.global.prod.js"></script>
        <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.global.prod.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

        <title>ElCapitan</title>
    </head>

    <body>
        <div id="app" class="app">
            <nav id="nav">
                <img src="./static/mountain.png" alt="">
                <a href="#about">{{ t('nav.buttons.1') }}</a>
                <a href="#experience">{{ t('nav.buttons.2') }}</a>
				<a href="#techstack">{{ t('nav.buttons.3') }}</a>

                <select id="language-selector" v-model="locale">
                    <option value="en">EN</option>
                    <option value="ua">UA</option>
					<option value="jp">JP</option>
                </select>

                <a href="#header" id="nav-scroll-arrow" class="arrow-down rotate"><i class="fas fa-chevron-down"></i></a>
            </nav>

            <header id="header">
                <div class="hello-world">
                    {{ t("hello.parts.1") }}<br>
                    <span style="color: rgb(255, 243, 138);">{{ t("hello.parts.name") }}</span><br>
                    <span id="typing"></span>
                </div>

                <div class="info-card">
                    {{ t("hello.infocard") }}
                </div>
            </header>

            <main id="content">
                <a href="#content" id="scroll-arrow" class="arrow-down"><i class="fas fa-chevron-down"></i></a>

                <div class="quoter">
                    <div class="quoter-header">
                        {{ t('quoter.header1') }} <u>{{ t('quoter.header2') }}</u>
                    </div>
                    
                    <div class="quote slide active">
                        <div class="text-block">
                            <div class="symbol">"</div>
                            <div>{{ t('quoter.quotes.1.text') }}</div>
                        </div>
                        <div class="author">{{ t('quoter.quotes.1.author') }}</div>
                    </div>
                      
                    <div class="quote slide">
                        <div class="text-block">
                            <div class="symbol">"</div>
                            <div>{{ t('quoter.quotes.2.text') }}</div>
                        </div>
                        <div class="author">{{ t('quoter.quotes.2.author') }}</div>
                    </div>

                    <div class="quote slide">
                        <div class="text-block">
                             <div class="symbol">"</div>
                            <div>{{ t('quoter.quotes.3.text') }}</div>
                        </div>
                        <div class="author">{{ t('quoter.quotes.3.author') }}</div>
                    </div>

                    <div class="quote slide">
                        <div class="text-block">
                             <div class="symbol">"</div>
                            <div>{{ t('quoter.quotes.4.text') }}</div>
                        </div>
                        <div class="author">{{ t('quoter.quotes.4.author') }}</div>
                    </div>

                    <div class="quote slide">
                        <div class="text-block">
                            <div class="symbol">"</div>
                            <div>{{ t('quoter.quotes.5.text') }}</div>
                        </div>
                        <div class="author">{{ t('quoter.quotes.5.author') }}</div>
                    </div>
                </div>
                
                <div class="self-section">
                    <div class="about-block" id="about">
                        <div class="about slide">
                            <div class="header">
                                {{ t("about.header") }}
                            </div>

							<div class="text">
								{{ t("about.textblocks.1") }}
							</div>

							<div class="text">
								{{ t("about.textblocks.2") }}
							</div>

							<div class="text">
								{{ t("about.textblocks.3") }}
							</div>

                            <div class="header">
                                {{ t("about.lang.header") }}
                            </div>

                            <div class="languages">
                                <div class="language">
                                    <div class="lang-name">{{ t("about.lang.1.name") }}</div>

                                    <div class="level">
                                        <div class="name p5 slide">C1</div>
                                    </div>

                                    <div class="progress p5 yellow slide"></div>
                                </div>

                                <div class="language">
                                    <div class="lang-name">{{ t("about.lang.2.name") }}</div>

                                    <div class="level">
                                        <div class="name p4 slide">B2</div>
                                    </div>

                                    <div class="progress p4 red slide"></div>
                                </div>

                                <div class="language">
                                    <div class="lang-name">{{ t("about.lang.3.name") }}</div>

                                    <div class="level">
                                        <div class="name p5-1 slide">N5</div>
                                    </div>

                                    <div class="progress p5-1 gunjyou slide" id="experience"></div>
                                </div>
                            </div>

							<div class="header">
                           		{{ t("about.work.header") }}
							</div>

							<div class="blocks">
								<div class="block">
									<div class="top-information">{{ t("about.work.1.work_time") }}</div>
									
									<div class="block-wrapper">
										<div class="block-topic">
											<img src="static/work/2.png" class="tech-img" alt="">
											<div class="name">{{ t("about.work.1.name") }}</div>
											<div class="subname">{{ t("about.work.1.position") }}</div>

											<div class="cubic-wrapper">
												<div class="cubic-item">
													<img src="static/linux.png" class="small" alt="">
												</div>
												<div class="cubic-item">
													<img src="static/windows.png" alt="">
												</div>
												<div class="cubic-item">
													<img src="static/creatio.png" class="medium" alt="">
												</div>
											</div>
										</div>

										<div class="text">
											<ul>
												<li>{{ t("about.work.1.list.1") }}</li>
												<li>{{ t("about.work.1.list.2") }}</li>
												<li>{{ t("about.work.1.list.3") }}</li>
												<li>{{ t("about.work.1.list.4") }}</li>
												<li>{{ t("about.work.1.list.5") }}</li>
												<li>{{ t("about.work.1.list.6") }}</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="block">
									<div class="top-information">{{ t("about.work.2.work_time") }}</div>
									
									<div class="block-wrapper">
										<div class="block-topic">
											<img src="static/work/1.jpg" class="tech-img" alt="">
											<div class="name">{{ t("about.work.2.name") }}</div>
											<div class="subname">{{ t("about.work.2.position") }}</div>

											<div class="cubic-wrapper">
												<div class="cubic-item">
													<img src="static/windows.png" alt="">
												</div>
												<div class="cubic-item">
													<img src="static/exchange.png" class="small" alt="">
												</div>
												<div class="cubic-item">
													<img src="static/zabbix.webp" alt="">
												</div>
											</div>
										</div>

										<div class="text">
											<ul>
												<li>{{ t("about.work.2.list.1") }}</li>
												<li>{{ t("about.work.2.list.2") }}</li>
												<li>{{ t("about.work.2.list.3") }}</li>
												<li>{{ t("about.work.2.list.4") }}</li>
												<li>{{ t("about.work.2.list.5") }}</li>
												<li id="techstack">{{ t("about.work.2.list.6") }}</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="header">
                           		{{ t("about.showcase.header") }}
							</div>

							<div class="blocks">
								<div class="block centered gap">
									<div class="name">
										{{ t("about.showcase.dev.header") }}
									</div>

									<div class="cubic-wrapper change more-items extended-gap">
										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/python-logo.webp" alt="">
											</div>

											<div>
												<div class="label">
													Python
												</div>

												5 {{ t("about.showcase.formating.year.3") }}
											</div>
										</div>
										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/c.svg" class="medium" alt="">
											</div>

											<div>
												<div class="label">
													C
												</div>

												3 {{ t("about.showcase.formating.year.2") }}
											</div>
										</div>
										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/c++.png" class="medium" alt="">
											</div>

											<div>
												<div class="label">
													C++
												</div>

												3 {{ t("about.showcase.formating.year.2") }}
											</div>
										</div>
										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/cs.png" class="medium" alt="">
											</div>

											<div>
												<div class="label">
													C#
												</div>

												5 {{ t("about.showcase.formating.month.3") }}
											</div>
										</div>
									</div>

									<div class="cubic-wrapper change extended-gap more-items">
										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round no-bg">
												<img src="static/fastapi.svg" alt="">
											</div>

											<div>
												<div class="label">
													FastAPI
												</div>

												4 {{ t("about.showcase.formating.month.2") }}
											</div>
										</div>

										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/sqlalchemy.png" class="small cubic" alt="">
											</div>

											<div>
												<div class="label">
													SQLAlchemy
												</div>

												4 {{ t("about.showcase.formating.month.2") }}
											</div>
										</div>

										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/vue.png" class="small" alt="">
											</div>

											<div>
												<div class="label">
													Vue.js
												</div>

												4 {{ t("about.showcase.formating.month.2") }}
											</div>
										</div>
										
										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/flask.png" class="medium" alt="">
											</div>

											<div>
												<div class="label">
													Flask
												</div>

												1 {{ t("about.showcase.formating.year.1") }}
											</div>
										</div>
									</div>
								</div>


								<div class="block centered gap">
									<div class="name">
										{{ t("about.showcase.sysadmin.header") }}
									</div>

									<div class="cubic-wrapper change more-items extended-gap">
										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/windows.png" alt="">
											</div>

											<div>
												<div class="label">
													Windows
												</div>

												5 {{ t("about.showcase.formating.year.3") }}
											</div>
										</div>


										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/ad.png" class="medium" alt="">
											</div>

											<div>
												<div class="label">
													AD DC
												</div>

												1 {{ t("about.showcase.formating.year.1") }}
											</div>
										</div>
										
										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/linux.png" class="small" alt="">
											</div>

											<div>
												<div class="label">
													Linux
												</div>

												1 {{ t("about.showcase.formating.year.1") }}
											</div>
										</div>
										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/freeipa.png" class="medium" alt="">
											</div>

											<div>
												<div class="label">
													FreeIPA
												</div>

												1 {{ t("about.showcase.formating.year.1") }}
											</div>
										</div>
									</div>

									<div class="cubic-wrapper change extended-gap more-items">
										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round no-bg">
												<img src="static/openvpn.png" alt="">
											</div>

											<div>
												<div class="label">
													OpenVPN
												</div>

												4 {{ t("about.showcase.formating.month.2") }}
											</div>
										</div>

										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/elk.png" class="medium">
											</div>

											<div>
												<div class="label">
													ELK
												</div>

												4 {{ t("about.showcase.formating.month.2") }}
											</div>
										</div>
										
										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/ansible.png" alt="">
											</div>

											<div>
												<div class="label">
													Ansible
												</div>

												1 {{ t("about.showcase.formating.year.1") }}
											</div>
										</div>

										<div class="labeled-cubic-container">
											<div class="cubic-item bigger round">
												<img src="static/creatio.png" alt="">
											</div>

											<div>
												<div class="label">
													Creatio
												</div>

												3 {{ t("about.showcase.formating.month.2") }}
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>

                <footer id="links">
                    <div class="categories-block">
                        <div class="category">
                            <div class="name">{{ t("footer.title.1") }}</div>
                            <a class="item" href="https://vuejs.org/" target="_blank"><img src="static/link.png">Vue.js Framework</a>
                            <a class="item" href="https://www.i18next.com/" target="_blank"><img src="static/link.png">i18n Framework</a>
                            <a class="item" href="https://www.flaticon.com/free-icon/github-logo_25231" target="_blank"><img src="static/link.png">GitHub Icon</a>
                            <a class="item" target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/1/18/C_Programming_Language.svg"><img src="static/link.png">C Programming icon</a>
                            <a class="item" href="https://www.flaticon.com/free-icon/mail_646094" target="_blank"><img src="static/link.png">Mail Icon</a>
                            <a class="item" href="https://www.pexels.com/photo/silhouetted-mountains-in-yosemite-national-park-14028270/" target="_blank"><img src="static/link.png">El Capitan Photo</a>
                            <a class="item" href="https://commons.wikimedia.org/wiki/File:Tunnel_View_2,_Yosemite_Valley,_Yosemite_NP_-_Diliff.jpg" target="_blank"><img src="static/link.png">El Capitan Photo</a>
                            <a class="item" href="https://www.flaticon.com/free-icon/mountains_672710" target="_blank"><img src="static/link.png">Site Icon</a>
                            <a class="item" href="https://www.flaticon.com/free-icons/windows" title="coding icons"><img src="static/link.png">Windows icon by Freepik</a>
                        </div>
                        
                        <div class="categories-column">
                            <div class="category" v-if="repos.length">
                                <div class="name">{{ t("footer.title.2") }}</div>
                                <div class="items" v-for="repo in repos">
                                    <a class="item" :href="repo.html_url" target="_blank"><img src="static/github-logo.png">{{ repo.name }}</a>
                                </div>
                            </div>
                            <div class="category" v-else-if="error">
                                <div class="name">Unable to fetch repositories, 0e1</div>
                            </div>
                            <div class="category" v-else>
                                <div class="name">Fetching repositories...</div>
                            </div>

                            <div class="category">
                                <div class="name">{{ t("footer.title.3") }}</div>
                                <a class="item" href="https://gitea.atproject.com.ua/elcapitan/about-me" target="_blank"><img src="static/gitea.png">Repository</a>
                            </div>
                        </div>
        
                        <div class="category">
                            <div class="name">{{ t("footer.title.4") }}</div>
                            <a class="item" href="https://x.com/vladelcapitan" target="_blank"><img src="static/x.png">vladelcapitan</a>
                            <a class="item" href="https://github.com/at-elcapitan" target="_blank"><img src="static/github-logo.png">at-elcapitan</a>
                            <a class="item" href="https://gitea.atproject.com.ua/elcapitan" target="_blank"><img src="static/gitea.png">elcapitan</a>
                            <a class="item" href="mailto:elcapitan@atproject.com.ua" target="_blank"><img src="static/mail.png">elcapitan@atproject.com.ua</a>
                        </div>
                    </div>
                        
                    <hr>
        
                    <div class="copyright">
                        © Vladislav "ElCapitan" Nazarov, 2025<br><br>The future is in our hands
                    </div>
                </footer>
            </main>
        </div>

        <script src="js/app.js"></script>
        <script>
            const scroll = new SmoothScroll('a[href*="#"]', {
                speed: 800,
                speedAsDuration: true
            });

            const navscroll = document.getElementById('nav-scroll-arrow');
            const arrow = document.getElementById('scroll-arrow');
            const header = document.getElementById('header');
            const about = document.getElementById('about');
            const nav = document.getElementById('nav');
			const footer = document.getElementById('links');

            window.addEventListener('scroll', () => {
                const currentScrollTop = window.scrollY;

                if (window.scrollY > window.innerHeight) {
                    header.style.display = 'none';
                } else {
                    header.style.display = 'flex';
                }
                
                const aboutY = about.getBoundingClientRect().top;
				const footerY = footer.getBoundingClientRect().top;

				if (footerY <= 10) {
					nav.classList.remove("white");
				} else if (aboutY <= 10) {
					nav.classList.add("white");
				} else {
					nav.classList.remove("white");
				}

                if (arrow.getBoundingClientRect().y <= 10) {
                    navscroll.style.display = 'inherit';
                } else {
                    navscroll.style.display = 'none';
                }

                if (window.scrollY > 10) {
                    arrow.href = "#header";
                    arrow.classList.add('rotate');
                } else {
                    arrow.href = "#content";
                    arrow.classList.remove('rotate');
                }

                const quotes = document.querySelectorAll('.quote');
                const center = window.innerHeight / 2;

                let closestQuote = null;
                let closestDistance = Infinity;

                quotes.forEach(quote => {
                    const rect = quote.getBoundingClientRect();
                    const quoteCenter = rect.top + rect.height / 2;
                    const distance = Math.abs(quoteCenter - center);

                    if (distance < closestDistance) {
                        closestDistance = distance;
                        closestQuote = quote;
                    }
                });

                quotes.forEach(quote => quote.classList.remove('active'));
                if (closestQuote) {
                    closestQuote.classList.add('active');
                }
            });

            const observer = new IntersectionObserver((objects) => {
                objects.forEach(object => {
                    if (object.isIntersecting) {
                        object.target.classList.add('visible');
                        observer.unobserve(object.target);
                    }
                });
            });

            document.querySelectorAll('.slide').forEach(object => {
                observer.observe(object);
            });
        </script>
    </body>
</html>